* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

body {
  text-align: center;
  margin: 0;
}

.header {}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.sidemenu {
  margin-top: 33px;
  width: 25%;
  min-height: 757px;
  border: #777777;
  border-style: dashed;
}

.content {
  width: 75%;
}

ul {
  text-align: left
}

li {
  list-style-type: circle;
}

.selected {
  background-color: darkblue;
  width: 6em;
}