* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

body {
  text-align: center;
  margin: 0;
}

.header {}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.sidemenu {
  margin-top: 20px;
  width: 25%;
}

.content {
  width: 75%;
}

.commands {
  padding-top: 10px;
  padding-bottom: 10px;
  border: #777777;
  border-style: dashed;
}

.inventory {
  min-height: 648px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: #777777;
  border-style: dashed;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 70px;
}

ul {
  text-align: left
}

li {
  list-style-type: circle;
}

li:hover {
  background-color: darkblue;
  width: 90%;
}

.selected {
  background-color: darkblue;
  width: 90%;
}