* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

body {
  text-align: center;
  margin: 0;
}

.header {}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.sidemenu {
  width: 25%;
}

.content {
  width: 75%;
}
